<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buy">

    <application
        android:allowBackup="true"
        android:icon="?android:attr/actionModeFindDrawable"
        android:label="@string/app_name"
        android:roundIcon="?android:attr/actionModeFindDrawable"
        android:supportsRtl="true"
        android:name=".di.MyApp"
        android:theme="@style/Theme.Buy">
        <activity
            android:name=".EditarDelete"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".NovoProduto"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>